# Dependency directories
node_modules/
*.env
!*.env.example
/client/.eslintcache

# Logs
*.log

# Databases
!example.sql
/api/src/seeders/*clusters.js
/db/*
!/db/.gitkeep

# SSL Certificates and Keys
*.key
*.pem
