# Dependency directories
node_modules/
*.env
*.env.development
!*.env.example
/client/.eslintcache
/client/package-lock.json
/api/package-lock.json

# Logs
*.log

# Databases
!example.sql
/api/src/seeders/*clusters.js
/db/*
!/db/.gitkeep

# SSL Certificates and Keys
*.key
*.pem
