version: '3.8'

networks:
  realbi_network:
    name: realbi_network

services:
  db:
    container_name: realbi_db
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_PASSWORD: ${DB_PASS}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASS}
      MYSQL_USER: ${DB_USER}
    image: mysql:8.0.21
    networks:
      - realbi_network
    ports:
      - ${DB_EXTERNAL_PORT}:3306
    restart: always
    volumes:
      - ./db/data:/var/lib/mysql
  api:
    build:
      context: ./api
      # dockerfile: Dockerfile.dev
      dockerfile: Dockerfile
    container_name: realbi_api
    depends_on:
      - db
    env_file:
      - .env
    networks:
      - realbi_network
    restart: always
    volumes:
      - ./api:/app
      - /app/node_modules
  client:
    build:
      context: ./client
      # dockerfile: Dockerfile.dev
      dockerfile: Dockerfile
    container_name: realbi_client
    depends_on:
      - api
    networks:
      - realbi_network
    restart: always
    stdin_open: true
    volumes:
      - ./client:/app
      - /app/node_modules
  nginx:
    build:
      context: ./nginx
      # dockerfile: Dockerfile.dev
      dockerfile: Dockerfile
    container_name: realbi_nginx
    entrypoint: [/etc/nginx/run_nginx.sh, '${HOST_HOSTNAME}']
    env_file:
      - .env
    networks:
      - realbi_network
    depends_on:
      - client
    ports:
      - ${EXTERNAL_HTTP_PORT}:${EXTERNAL_HTTP_PORT}
      - ${EXTERNAL_HTTPS_PORT}:${EXTERNAL_HTTPS_PORT}
    restart: always
